<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= garment.name %></h1>
    <h3><%= garment._id %></h3>
    <% if (garment.isAvailable) { %>
    <p>This garment is available!</p>
    <% } else { %>
    <p>This garment is not available!</p>
    <% } %>

    <form action="/clothes/<%= garment._id %>/edit" method="GET">
      <button type="submit">Edit Garment</button>
    </form>

    <form action="/clothes/<%= garment._id %>/?_method=DELETE" method="POST">
      <button type="submit">Delete Garment</button>
    </form>

    <a href="/clothes">Back to Garments</a>
  </body>
</html>
